product-reporter/docs/regulatory/templates/BACEN/APIX/001/APIX001_2-5.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!-- +  BANCO CENTRAL DO BRASIL                                           + -->
  <!-- +  Documento 1201						    + -->
  <!-- +  Versão 2.5						    + -->
  <!-- +  Publicado em Outubro/2020					    + -->
  <!-- +  Atualizado em 25/11/2025                                         + -->
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- ******************************* -->
	<!-- Definicao dos elementos simples -->
	<!-- ******************************* -->

	<!-- tipos APIX001 -->
	<xs:element name="APIX001" type="tipoAPIX001" />
	<xs:element name="Transacoes" type="tipoTransacoes">
		<xs:unique name="idTransacao"> <!-- NR v.1.0.1 -->
			<xs:selector xpath="./Transacao" /> 
			<xs:field xpath="DetalhamentoTransacoes" /> 
			<xs:field xpath="FinalidadeTransacoes" /> <!-- NR v.2.0 -->
		</xs:unique>
	</xs:element>

	<xs:element name="Devolucoes" type="tipoDevolucoes"> <!-- NR v.2.3 -->
		<xs:unique name="idDevolucao">  
			<xs:selector xpath="./Devolucao" /> 
			<xs:field xpath="DetalhamentoDevolucoes" /> 
		</xs:unique>
	</xs:element>

	<xs:element name="BloqueiosCautelares" type="tipoBloqueiosCautelares">
		<xs:unique name="idBloqueio"> <!-- NR v.2.0 -->
			<xs:selector xpath="./BloqueioCautelar" /> 
			<xs:field xpath="DetalhamentoTransacoesBloqCaut" /> 
		</xs:unique>
	</xs:element>

	<xs:element name="Receitas" type="tipoReceitas">
		<xs:unique name="idReceita"> <!-- NR v.1.0.1 -->
			<xs:selector xpath="./Receita" /> 
			<xs:field xpath="FonteReceita" /> 
		</xs:unique>
	</xs:element>
	<xs:element name="TemposTransacoes" type="tipoTempoTransacao" />
	<xs:element name="TemposDict" type="tipoTempoDict" />
	<xs:element name="ConsultasDict" type="tipoConsultasDict" />
	<xs:element name="Disponibilidade" type="tipoDisponibilidade" />
	<xs:element name="TempoAutorizacoes" type="tipoTempoAutorizacoes" /> <!-- NR v.2.4 -->
	<xs:element name="Autorizacoes" type="tipoAutorizacoes"> <!-- NR v.2.4 -->
		<xs:unique name="idAutorizacao"> 
			<xs:selector xpath="./Autorizacao" /> 
			<xs:field xpath="TipoPagador" /> 
		</xs:unique>
	</xs:element>


	<!-- ****************** -->
	<!-- Definicao de tipos -->
	<!-- ****************** -->

	<!-- Documento APIX001 -->
	<xs:complexType name="tipoAPIX001">
		<xs:sequence>
			<xs:element ref="Transacoes" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Devolucoes" minOccurs="1" maxOccurs="1" />
			<xs:element ref="BloqueiosCautelares" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Receitas" minOccurs="1" maxOccurs="1" />
			<xs:element ref="TemposTransacoes" minOccurs="1" maxOccurs="1" />
			<xs:element ref="TemposDict" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ConsultasDict" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Disponibilidade" minOccurs="1" maxOccurs="1" />
			<xs:element ref="TempoAutorizacoes" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Autorizacoes" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="DtArquivo" type="tipoDataMesAnoDia" use="required" />
		<xs:attribute name="Ano" type="tipoAno" use="required" />
		<xs:attribute name="Mes" type="tipoMes" use="required" />
		<xs:attribute name="ISPB" type="tipoCNPJ8" use="required" />
		<xs:attribute name="NomeResp" type="tipoNomeResp" use="required" />
		<xs:attribute name="EmailResp" type="tipoEmailResp" use="required" />
		<xs:attribute name="TelResp" type="tipoTelResp" use="required" />
		<xs:attribute name="TipoEnvio" type="tipoRemessa"  use="required" />
	</xs:complexType>

	<!-- Transacoes -->
	<xs:complexType name="tipoTransacoes">
		<xs:sequence>
			<xs:element name="Transacao" type="tipoTransacao" minOccurs="12" maxOccurs="12" /> <!-- NR v.1.1.0 --><!-- NR v.2.0--> <!-- NR v.2.3-->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="tipoTransacao">
		<xs:sequence>
			<xs:element name="QtdTransacoes" type="tipoQuantidadeComZero" />
			<xs:element name="ValorTransacoes" type="tipoValorComZero" />
			<xs:element name="ValorEspecie" type="tipoValorComZero" /><!-- NR v.2.0 -->
			<xs:element name="DetalhamentoTransacoes" type="tipoDetalhamentoTransacao" />
			<xs:element name="FinalidadeTransacoes" type="tipoFinalidadeTransacao" /><!-- NR v.2.0 -->
			</xs:sequence>
	</xs:complexType>


	<!-- Devolucoes -->
	<xs:complexType name="tipoDevolucoes">
		<xs:sequence>
			<xs:element name="Devolucao" type="tipoDevolucao" minOccurs="2" maxOccurs="2" />  <!-- NR v.2.3-->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="tipoDevolucao">
		<xs:sequence>
			<xs:element name="QtdDevolucoes" type="tipoQuantidadeComZero" />
			<xs:element name="ValorDevolucoes" type="tipoValorComZero" />
			<xs:element name="DetalhamentoDevolucoes" type="tipoDetalhamentoDevolucao" />
			</xs:sequence>
	</xs:complexType>


	<!-- BloqueiosCautelares --> <!-- NR v.2.0 --> 
	<xs:complexType name="tipoBloqueiosCautelares">
		<xs:sequence>
			<xs:element name="BloqueioCautelar" type="tipoBloqueioCautelar" minOccurs="4" maxOccurs="4" /> 
		</xs:sequence>
	</xs:complexType>

	<!-- name="tipoBloqueios" --> <!-- NR v.2.0 -->
	<xs:complexType name="tipoBloqueioCautelar">
		<xs:sequence>
			<xs:element name="QtdeBloqCaut" type="tipoQuantidadeComZero" />
			<xs:element name="ValorBloqCaut" type="tipoValorComZero" />
			<xs:element name="DetalhamentoTransacoesBloqCaut" type="tipoDetalhamentoTransacoesBloqCaut" />
			</xs:sequence>
	</xs:complexType>


	<!-- Receitas -->
	<xs:complexType name="tipoReceitas">
		<xs:sequence>
			<xs:element name="Receita" type="tipoReceita" minOccurs="4" maxOccurs="4"/><!-- NR v.2.1 -->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="tipoReceita">
		<xs:sequence>
			<xs:element name="ValorReceita" type="tipoValorComZero" />
			<xs:element name="FonteReceita" type="tipoFonteReceita" />
		</xs:sequence>
	</xs:complexType>

	<!-- TemposTransacoes -->
	<xs:complexType name='tipoTempoTransacao'>
		<xs:attribute name='Perc50TempoExpUsuarioLiqSPI' type='tipoValorTempo' use='required' /> <!-- NR v.2.0 -->
		<xs:attribute name='Perc99TempoExpUsuarioLiqSPI' type='tipoValorTempo' use='required' /> <!-- NR v.2.0 -->
		<xs:attribute name='Perc50TempoExpUsuarioLiqForaSPI' type='tipoValorTempo' use='required' /> <!-- NR v.2.0 -->
		<xs:attribute name='Perc99TempoExpUsuarioLiqForaSPI' type='tipoValorTempo' use='required' /> <!-- NR v.2.0 -->
		<xs:attribute name='TempoMaxBloqueioCautelar' type='tipoValorTempo' use='required' /> <!-- NR v.2.0 -->
	</xs:complexType>

	<!-- TemposDict -->
	<xs:complexType name='tipoTempoDict'>
		<xs:attribute name='Perc99TempoUsuarioConsulta' type='tipoValorTempo' use='required' />
		<xs:attribute name='PercTempoEnvioRegistro' type='tipoValorTempo' use='required' /> <!-- NR v.1.4.0 -->
		<xs:attribute name='PercTempoExpUsuarioRegistro' type='tipoValorTempo' use='required' /> <!-- NR v.1.4.0 -->
		<xs:attribute name='PercTempoExpUsuarioExclusao' type='tipoValorTempo' use='required' /> <!-- NR v.1.4.0 -->
		<xs:attribute name='PercTempoNotificacaoPortabilidade' type='tipoValorTempo' use='required' /> <!-- NR v.1.4.0 -->
		<xs:attribute name='PercTempoEnvioPortabilidade' type='tipoValorTempo' use='required' /> <!-- NR v.1.4.0 --> 
		<xs:attribute name='PercTempoAberturaMED' type='tipoValorTempo' use='required' /> <!-- NR v.2.2.0 --> <!-- NR v.2.5 -->
	</xs:complexType>

	<!-- ConsultasDict -->
	<xs:complexType name='tipoConsultasDict'>
		<xs:attribute name='QtdConsultas' type='tipoQuantidadeComZero'  use='required' />
	</xs:complexType>

	<!-- Disponibilidade -->
	<xs:complexType name='tipoDisponibilidade'>
		<xs:attribute name='IndiceDisponibilidade' type='tipoPorcentagemComZero' use='required' />
	</xs:complexType>

	<!-- TempoAutorizacoes -->
	<xs:complexType name='tipoTempoAutorizacoes'>
		<xs:attribute name='Perc95TempoAutorizacao' type='tipoValorTempo' use='required' /> <!-- NR v.2.4 -->
	</xs:complexType>

	<!-- Autorizacoes -->
	<xs:complexType name="tipoAutorizacoes">
		<xs:sequence>
			<xs:element name="Autorizacao" type="tipoAutorizacao" minOccurs="2" maxOccurs="2" />  <!-- NR v.2.4 -->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="tipoAutorizacao">
		<xs:sequence>
			<xs:element name="QtdAutorizacoes" type="tipoQuantidadeComZero" />
			<xs:element name="QtdEstoqueAutorizacoes" type="tipoQuantidadeComZero" />
			<xs:element name="TipoPagador" type="tipoTipoPagador" />
			</xs:sequence>
	</xs:complexType>

	<!-- Definicao de tipos para atributos especificos -->
	<xs:simpleType name='tipoFonteReceita'>
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='0?[1-4]' /><!-- NR v.2.1 -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoDetalhamentoTransacao'>
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='0?[5-7]' /> <!-- NR v.2.3.0 -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoDetalhamentoDevolucao'> <!-- NR v.2.3.0 -->
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='0?[1-2]' /> 
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoDetalhamentoTransacoesBloqCaut'>
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='0?[1-4]' /> <!-- NR v.2.0-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoFinalidadeTransacao'><!-- NR v.2.0-->
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='0?[1-4]' />  <!-- NR v.2.4-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoTipoPagador'>  <!-- NR v.2.4-->
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='0?[1-2]' /> 
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definicao de tipos genericos -->
	<xs:simpleType name='tipoData'>
		<xs:restriction base='xs:date'>
			<xs:maxExclusive value='2150-01-01' />
			<xs:minExclusive value='1900-12-31' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoValor'>
		<xs:restriction base='xs:decimal'>
			<xs:totalDigits value='15' />
			<xs:fractionDigits value='2' />
			<xs:maxExclusive value='1000000000000000' />
			<xs:minExclusive value='0' />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name='tipoValorTempo'>
		<xs:restriction base='xs:decimal'>
			<xs:totalDigits value='8' /> <!-- NR v.1.3.0 -->
			<xs:fractionDigits value='2' /> <!-- NR v.1.3.0 -->
			<xs:maxExclusive value='1000000' /> <!-- NR v.1.3.0 --> <!-- NR v.1.2.2--> 
			<xs:minInclusive value='0' /> <!-- NR v.1.0.1 -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoValorComZero'>
		<xs:restriction base='xs:decimal'>
			<xs:totalDigits value='15' />
			<xs:fractionDigits value='2' />
			<xs:maxExclusive value='1000000000000000' />
			<xs:minInclusive value='0' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoPorcentagemComZero'>
		<xs:restriction base='xs:decimal'>
			<xs:totalDigits value='5' /> <!-- NR v.1.2.1 -->
			<xs:fractionDigits value='2' />
			<xs:maxInclusive value='100' /> <!-- NR v.1.2.1 -->
			<xs:minInclusive value='0' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoQuantidade'>
		<xs:restriction base='xs:integer'>
			<xs:minInclusive value='1' />
			<xs:maxExclusive value='1000000000000' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoQuantidadeComZero'>
		<xs:restriction base='xs:integer'>
			<xs:minInclusive value='0' />
			<xs:maxExclusive value='1000000000000' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoCNPJ8'>
		<xs:restriction base='xs:string'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='[0-9]{8}' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoCNPJ14'>
		<xs:restriction base='xs:string'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='[0-9]{14}' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoDataMesAno'>
		<xs:restriction base='xs:gYearMonth'>
			<xs:whiteSpace value='collapse' />
			<xs:minInclusive value='2000-01' />
			<xs:maxExclusive value='2050-01' />
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name='tipoAno'>
		<xs:restriction base='xs:gYear'>
			<xs:whiteSpace value='collapse' />
			<xs:minInclusive value='2020' />
			<xs:maxExclusive value='2080' />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name='tipoMes'>
		<xs:restriction base='xs:integer'>
			<xs:whiteSpace value='collapse' />
			<xs:minInclusive value='1' />
			<xs:maxInclusive value='12' />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name='tipoDataMesAnoDia'>
		<xs:restriction base='xs:date'>
			<xs:whiteSpace value='collapse' />
			<xs:minInclusive value='2000-01-01' />
			<xs:maxExclusive value='2050-01-01' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoSimNao'>
		<xs:restriction base='xs:string'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='S|N' />
		</xs:restriction>
	</xs:simpleType>


	<!-- Definicao de campos do cabecalho -->
	<xs:simpleType name='tipoNomeResp'>
		<xs:restriction base='xs:string'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='[^\|"]+' />
			<xs:maxLength value='200' />
			<xs:minLength value='1' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoEmailResp'>
		<xs:restriction base='xs:string'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern
				value="[A-Za-z0-9_]+([-+.'][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*" />
			<xs:maxLength value='100' />
			<xs:minLength value='1' />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name='tipoTelResp'>
		<xs:restriction base='xs:string'>
			<xs:whiteSpace value='collapse' />
			<xs:pattern value='[^\r\n\|"]+' />
			<xs:maxLength value='14' />
			<xs:minLength value='1' />
		</xs:restriction>
	</xs:simpleType>

        <xs:simpleType name="tipoRemessa">
                 <xs:restriction base="xs:string">
                 	<xs:whiteSpace value="collapse" />
                        <xs:enumeration value="I"/>
                        <xs:enumeration value="S"/>
                 </xs:restriction>
        </xs:simpleType>

</xs:schema>
